<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
    <body class="home-page-body">

<script>
  function onCreate() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4) {
     var data = JSON.parse(this.responseText);
     var token = data.token
     var room_id = data.room_id
     localStorage.setItem("token"+room_id,token);

     window.location.href = "/ui/games/" + data.room_id
     }
  };
  xhttp.open("POST", "/games", true);
  xhttp.send();
}

function OnJoin() {
    var textcontrol = document.getElementById("txtname");
    var room_id = textcontrol.value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
            var data = JSON.parse(this.responseText);
            var token = data.token
            var room_id = data.room_id
            localStorage.setItem("token"+room_id,token);
            window.location.href = "/ui/games/" + room_id
        }else if (this.readyState == 4 && this.status == 404) {
            textcontrol.value = ' ';
            document.getElementById("demo").innerHTML = "No such room exists";
        }
    };
    xhttp.open("POST", "/games/"+room_id+"/join", true);
    xhttp.send();
}


</script>
<div class="header_hero">
    <div class="hpage-btn-container">
        <div class="hpage-btn-group1">
            <button onclick="onCreate()" class="btn btn_full">Create Room</button>
        </div>
        <div class="hpage-btn-group2">
            <input type="text" id="txtname" class="input-field" placeholder="Enter code here" />
            <input type="button" id="btnsubmit" onclick="OnJoin()" class="btn btn_ghost" value="Join Room" />
        </div>
    </div>

</div>



<div id="demo"></div>
</body>
</html>